@font-face {
    font-family: Troika;
    src: url("../fonts/8944.otf");
}
@font-face {
    font-family: Arvo-Bold;
    src: url("../fonts/Arvo-Bold.ttf");
}
@font-face {
    font-family: Arvo-Regular;
    src: url("../fonts/Arvo-Regular.ttf");
}

@-webkit-keyframes pulsate {0% {transform:scale(.8);opacity: 1;} 50% {transform:scale(1);opacity:1;} 100% {transform:scale(.8);opacity:1;}}

@keyframes pulsate {0% {transform:scale(.8);opacity: 1;} 50% {transform:scale(1);opacity:1;} 100% {transform:scale(.8);opacity:1;}}

@keyframes idle {
    0% { background-position:    0px 0; }
    100% { background-position: 0px -7263px; }
}
@keyframes walk {
    0% { background-position:    0px 0; }
    100% { background-position: 0px -9080px; }
}

html{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
*{
    transition: transform 3s;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;
}
body{
    height: 100%;
    margin:0;
    width: 230%;
    font-size: 100%;
    font-family: Troika;
}
.outer_dodo{
    left:10%;
    position: absolute;
    height: 460px;
    width: 350px;
    max-width: 415px;
    bottom: 2%;
}
.bridge{
    position: relative;
    height: 50px;
}
.bridge1{
    position: absolute;
    left: 30%;
    bottom: 0;
}
.description {
    display: none;
    text-align: center;
    font-size: 300%;
    color: #525252;
    opacity: 0;
    top:30%;
    left:50%;
    position: fixed;
}

a{
    color:#0c0c0c;
}
a:-webkit-any-link{
    color: #ffffff;
}
a:visited{
    color:#ffffff;
}
a:active{
    color:#ffffff;
}
.volume-icon{
    margin-top: -5%;
    margin-left: 30%;
    position: absolute;
    color: #fdb55f;
}
.container{
    height: 100%;
    background-image: linear-gradient(to top, #d2ecf0, #92d1e3);
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow:hidden;
}
.DoDo_Head{
    font-family: Arvo-Bold;
    font-size: 6em;
    color: #ff6666;
    -webkit-text-stroke: 4px #ff4747;
}
.sec_head{
    padding-top: 0.5%;
    color: #ff6666;
    font-size: 4em;
    -webkit-text-stroke: 4px #ffffff;
}
.presents{
    color: #3a3a3a;
    font-size: 1em;
    font-family: Arvo-Regular;
    display: inline-flex;
}
.incode a:visited{
    color: #3a3a3a;
}
.underline{
    letter-spacing: 0.1875em;
    text-decoration: underline;
    padding: 0 0;
}
.named {
    margin-top: 2%;
    width:100vw;
    position: fixed;
    text-align: center;
}
.named h1{
    margin: 0;
}

.clouds_b{
    transition: all 5s;
}
.clouds_b img{
    position: absolute;
    overflow: hidden;
    background-image: url("../src/world-clouds.png");
    background-size: contain;
    width: 55%;
}
.walking{
    background: url("../src/sprite-girl-walk-toright.png") 0px 0px no-repeat;
    animation:walk 1s steps(20) infinite;
}
.idle{
    background: url("../src/sprite-girl-walk-toright-min.png") 0px 0px no-repeat;
    animation:idle 1.2s steps(16) infinite;
}
.walking-left{
    background: url("../src/sprite-girl-walk-toleft.png") 0px 0px no-repeat;
    animation:walk 1s steps(20) infinite;
    right: 10%;
}
.idle-left{
    background: url("../src/sprite-girl-walk-toleft-min.png") 0px 0px no-repeat;
    animation:idle 1.2s steps(16) infinite;
    right: 10%;
}
.dodo{
    transform: scale(1);
    height: 100%;
    width: 100%;
}
.terrain{
    height: 40px;
    max-height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../src/world-terr.png");
    background-size: contain;
    background-repeat: repeat-x;
}
.mountains{
    position: absolute;
    overflow: hidden;
    background-image: url("../src/world-mountains.png");
    background-size: cover;
    background-repeat: repeat-x;
    height: 40%;
    width: 200%;
    bottom: 0;
}
.jumpBack{
    cursor: pointer;
    position:fixed;
    height: 100%;
    width: 50%;
    left: 0;
    top:0;
    opacity: 0;
}
.blur_clouds{
    position: absolute;
    filter: blur(5px);
    opacity: 0.9;
    height: 30%;
    width: 30%;
}
.cloud1{
    position: absolute;
    margin-top: 10%;
    margin-left: -80%;
    transition: all 4s;
}
.cloud2{
    position: absolute;
    margin-top: 0;
    margin-left: 100%;
    margin-right: -70%;
    transition: all 3s;
}
.appStore{
    width: 13.5%;
    margin-left: 43.25%;
    margin-right: 43.25%;
    margin-top: 1.7%;
    background: rgba(255,255,255,0.0);
    overflow: hidden;
    height: 3%;
    min-height: 40px;
    min-width: 127px;
    display: flex;
}
.img100{
    width: 100%;
}
.control_btn{
    cursor: pointer;
    position: fixed;
    height: 80px;
    width: 80px;
    top:60%;
    border-radius: 8px;
    background-color: rgba(238,238,238,0.8);
    border: solid 4px #ff8989;
}
.right_btn{
    right: 40.5px;
}
.left_btn{
    left: 40.5px;
}
.line {
    position: fixed;
    top:0;
    right:446px;
    width: 4px;
    height: 58px;
    background-color: #feb660;
}
.speaker{
    margin-top: 29px;
    margin-left: 28px;
}
.sound_control{
    display: block;
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.5);
    right: 393px;
    top:58px;
    border: solid 5px #feb660;
}
.appStore img{
    width: 100%;
    background: rgba(255,255,255,0.0);
    overflow: hidden;
    height: 100%;
    min-height: 40px;
}

.btn-animate{
    transition: opacity ease 1s;
    animation: pulsate 1s ease-out;
    animation-iteration-count:infinite;
}
.presents a{
    padding: 0 8px;
}
a i{
    padding: 8px 8px;
    background-color: #ff8989;
    border-radius: 50%;
    color: #ffffff;
}
@media only screen and (max-width: 1024px){
    .volume-icon{
        display: none;
    }
    body{
        font-size: 130%;
    }
    .outer_dodo{
        position: absolute;
        transform: scale(0.8);
        left:10%;
        bottom: 0%;
    }
    .blur_clouds img{
        max-width: 90%;
    }
    .clouds_b img {
        width:50%;
    }
    .description{
        top:40%;
        font-size: 200%;
    }
}
@media only screen and (max-width: 768px){
    body{
        font-size: 120%;
    }
    .description{
        font-size: 150%;
    }
    .jumpBack{
        position:fixed;
        height: 100%;
        width: 20%;
    }
    .outer_dodo{
        bottom:-5%;
        left:0%;
        transform: scale(0.5);
    }
}
@media only screen and (max-width: 415px) {
    body{
        font-size: 70%;
    }
    .outer_dodo{
        bottom: -10%;
        left:-10%;
        transform: scale(0.5);
    }
}
@media only screen and (max-width: 375px){
    .facebook, .vk, .insta, .linkedIn{
        padding: 0;
    }
    .outer_dodo{
        transform: scale(0.4);
    }
    body{
        font-size: 60%;
    }
    .outer_dodo{
        bottom: -12%;
        left:-15%;
        transform: scale(0.5);
    }
}
@media only screen and (max-width: 320px){
    body{
        font-size: 50%;
    }
    .outer_dodo {
        bottom: -15%;
    }
}
@media only screen and (min-width: 1800px){
    body{
        font-size: 150%;
    }
}
@media only screen and (min-width: 2500px){
    body{
        font-size: 230%;
    }
}
@media only screen and (min-width: 3800px){
    body{
        font-size: 300%;
    }
}

